.main{
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background: #f6f6f6;
  padding: 20px 0;
}

.ipsum-box{
  padding: 5px 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto;

  max-width: 850px;
  outline: none;
}
