.main {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  background: #f6f6f6;
  padding: 20px 0;
}

.ipsum-box {
  padding: 5px 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 80%;
  margin: 0 auto 20px auto;

  max-width: 850px;
  overflow: hidden;
}

#ipsum-wrapper {
}

.ipsum-wrapper {
  width: 200%;
  overflow: hidden;
  transition: max-height linear 0.75s;
}

#keynotes, #quotes {
  /*-webkit-animation-duration: 0.75s;*/
  /*animation-duration: 0.75s;*/
  /*-webkit-animation-fill-mode: both;*/
  /*animation-fill-mode: both;*/
  
  padding: 0 1%;
  float:left;
  width: 47.5%;
  outline: none;

  transition: margin linear 0.75s, opacity linear 0.75s;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}

#quotes {
  margin-left: -100%;

  &.active {
    margin-left: 0;
  }
}
