/* QuickSprites - BEGIN - DO NOT REMOVE THIS LINE */
.ipsum,
.macipsum,
.jobs
{
	display:	inline-block;
	background-repeat:	no-repeat;
	background-image:	url( 'header.sprite.png' );
}

.ipsum
{
	width:	905px;
	height:	254px;
}

.macipsum
{
	background-position:	-905px 0;
	width:	905px;
	height:	254px;
}

.jobs
{
	background-position:	-1810px 0;
	width:	815px;
	height:	254px;
}

/* QuickSprites - END - DO NOT REMOVE THIS LINE */